#name {
    font-size: 28px;
}

body {
    padding-bottom: 200px;
    background-image: linear-gradient(#e8d22e, #c95d5a, #6d5e61);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding-top: 135px;
    width: 85%;

}

#image {
    height: 300px;
    width: 225px;
}

.images {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.carousel-item {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 56.25% 0 0 0;
    overflow: hidden;
  }

  .icon {
    color: darkslategray;
   
  }

  #right {
      margin-top: 60px;
      padding-left: 50px;
  }
  
  